# Integração Python + Excel

### 2 formas:

1. Pandas
    - Mais usada no geral
    - Trata o Excel como uma base de dados
    - Faz o que quiser com o arquivo
    - Pode desfazer a estrutura original do arquivo, caso queira editar
    
2. Openpyxl
    - Trata o Excel como uma planilha mesmo que pode ter várias coisas
    - Edita "como se fosse um VBA"
    - Menos eficiente
    - Mantém mais a estrutura original do arquivo, mas cuidado porque não necessariamente tudo, então tem que testar

### Desafio

- Temos uma planilha de produtos e serviços. Com o aumento de imposto sobre os serviços, temos que atualizar o preço dos produtos impactados pela mudança.

Novo Multiplicador Imposto: 1.5

In [15]:
# pandas - não matém formulas e gráficos ao salvar

import pandas as pd

tabela = pd.read_excel(r'base_dados//Produtos.xlsx', index_col=0)
display(tabela)

,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
Produtos,,,,
Tablet,999.99,Produto,1.1,1099.989
Pós Graduação,4500.00,Serviço,1.3,5850.000
Celular,899.99,Produto,1.1,989.989
Passagem Aérea,799.00,Serviço,1.3,1038.700
Computador,3000.00,Produto,1.1,3300.000
SPA,480.48,Serviço,1.3,624.624
Corte Cabelo,50.00,Serviço,1.3,65.000

In [21]:
# atualizando a cotação e as colunas seguintes

tabela.loc[tabela['Tipo'] == 'Serviço','Multiplicador Imposto'] = 1.5
display(tabela)


# atualizando a coluna de Preço Base Reais
tabela['Preço Base Reais'] = tabela['Preço Base Original'] * tabela['Multiplicador Imposto']
display(tabela)

# salvanso em arquivo excel

tabela.to_excel(r'base_dados/ProdutosPandas.xlsx', index=False)

,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
Produtos,,,,
Tablet,999.99,Produto,1.1,1099.989
Pós Graduação,4500.00,Serviço,1.5,6750.000
Celular,899.99,Produto,1.1,989.989
Passagem Aérea,799.00,Serviço,1.5,1198.500
Computador,3000.00,Produto,1.1,3300.000
SPA,480.48,Serviço,1.5,720.720
Corte Cabelo,50.00,Serviço,1.5,75.000

,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
Produtos,,,,
Tablet,999.99,Produto,1.1,1099.989
Pós Graduação,4500.00,Serviço,1.5,6750.000
Celular,899.99,Produto,1.1,989.989
Passagem Aérea,799.00,Serviço,1.5,1198.500
Computador,3000.00,Produto,1.1,3300.000
SPA,480.48,Serviço,1.5,720.720
Corte Cabelo,50.00,Serviço,1.5,75.000

In [26]:
# openpyxl - matém formulas e gráficos ao salvar

import openpyxl

from openpyxl import Workbook, load_workbook

planilha = load_workbook('base_dados//Produtos.xlsx')

aba_ativa = planilha.active

for celula in aba_ativa['C:C']:
    if celula.value == 'Serviço':
        linha = celula.row
        aba_ativa[f"D{linha}"] = 1.5
planilha.save('base_dados//ProdutoOpenpy.xlsx')